:root {
    --innerContPaddingSides: 40px;
    --innerContMarginTop: 70px;
    --gridTopPadding: 56px;
    --gridRowHeight: 157.5px;
    --gridColWidth: 236px;
    --halfGridColWidth: calc(var(--gridColWidth)/2);

    --yellow: #fedd02;
}