html {
    font-family: 'Roboto', sans-serif;
}

hr {
    margin: 2.67em 0;
}



h2 {
    font-style: italic;
    margin-bottom: 10px;
}

.container,
.container--header,
.container--footer {
    max-width: 1200px;
    margin: 0 auto;
    width: 100vw;
    padding: 0 15px;
}

.container {
    column-count: 3;
    column-gap: 0;

    @media (max-width: 768px) {
        column-count: 2;
    }

    .img {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        object-fit: contain;
        break-inside: avoid;
        padding: 5px;
        filter: grayscale(30%);
        z-index: 1;
        position: relative;
        transition: transform .5s, filter .8s;



        &:hover {
            transform: scale(2);
            filter: grayscale(0);
            z-index: 10;
        }


        @media (max-width: 768px) {

            &:hover,
            &:active {
                transform: scale(2);
                filter: grayscale(0);
                z-index: 10;
            }
        }
    }
}

footer {
    p {
        margin-bottom: 10px;
    }
}